## Python Functions : 002

===================================

**Author: Abhishek Dey**

===================================

### Contents:

* Generator function

* Iterable and Iterator

* Lambda function

* Map function

* Reduce function

* Filter function

### Generator function:

* A generator is a function that returns an **iterator** that produces a sequence of values when iterated over

* It is useful when we need to store and return many numbers

* Optimizes memory utilization

* In that case it does not hold all the numbers in memory rather it yeids one number at at time

* **yield** keyword is used to throw out the data

* **return** keyword is not used in generator function

* In other words, Normal functions use the **return** statement, while generator functions use the **yield** statement

* Example is **range()** function

In [1]:
range(1,10)

range(1, 10)

### Here range(1,10) is not displaying the numbers. We need to run a loop to display the number

In [4]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Fibonacci series example using generator: [0,1,1,2,3,5,8,13,21,34.....]

In [8]:
def fibo_series(n):
    
    a=0
    b=1
    
    for i in range(n):
        
        yield a
        
        a,b=b,a+b

In [9]:
fibo_series(10)

In [10]:
[i for i in fibo_series(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
type(fibo_series)

function

In [13]:
fib = fibo_series(10)

In [14]:
type(fib)

generator

### Iterable and Iterator

**Iterable:** Object that one can iterate over. It generates an **Iterator** when passed through **iter()** method

**Iterator**: Object, which is used to iterate over an **iterable** object using the __next__() method.

### Example 1:

In [15]:
s="hello world"

In [16]:
next(s)

TypeError: 'str' object is not an iterator

### Since 'str' is not an iterator. lets convert it to iterable first

In [17]:
s1=iter(s)

In [18]:
next(s1)

'h'

In [19]:
next(s1)

'e'

In [21]:
next(s1)

'l'

In [22]:
next(s1)

'l'

In [23]:
next(s1)

'o'

### Example 2:

In [24]:
l=[1,2,'a',True]

In [25]:
next(l)

TypeError: 'list' object is not an iterator

### Since 'list' is not an iterator. lets convert it to iterable first

In [26]:
l1=iter(l)

In [27]:
next(l1)

1

In [28]:
next(l1)

2

In [29]:
next(l1)

'a'

In [30]:
next(l1)

True

### Example 3:

In [31]:
t=(1,2,'a',True)

In [32]:
next(t)

TypeError: 'tuple' object is not an iterator

### Since 'list' is not an iterator. lets convert it to iterable first

In [33]:
t1=iter(t)

In [34]:
next(t1)

1

In [35]:
next(t1)

2

In [36]:
next(t1)

'a'

In [37]:
next(t1)

True

### Example 5:

In [38]:
i=3562737

In [39]:
next(i)

TypeError: 'int' object is not an iterator

In [40]:
i1=iter(i)

TypeError: 'int' object is not iterable

### Example 6:

In [41]:
f=233424.3423423

In [42]:
next(f)

TypeError: 'float' object is not an iterator

In [43]:
f1=iter(f)

TypeError: 'float' object is not iterable

## NOTE:

* int,float are neither interable nor can be iterator

* One can convert an iterable object to iterator

## Python : Lambda function:

* AKA one liner function

* AKA annonymous function since function name is not defined

* **lamnda**  keyword is used 

* syntax:

variable = **lambda** input:output_operation

### Example 1: sum of two numbers using lambda function

In [44]:
summ = lambda a,b : a+b

In [47]:
summ(2,5)

7

### Example 2: convert temperature from celcius to farenheit using lambda function

In [50]:
convert_temp = lambda c: (9/5)*c + 32

In [51]:
convert_temp(32)

89.6

### Example 3: finding max of two numbers

In [57]:
find_max = lambda x,y : x if x>y else y

In [58]:
find_max(43,23)

43

In [59]:
find_max(21,34)

34

## Python : Map Function

* **map()** function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

* **Syntax: map(fun, iter)**

* fun : It is a function to which map passes each element of given iterable.

* iter : It is a iterable which is to be mapped.

### Example 1: map() using external function

In [63]:
### Function to square the number

def func(x):
    
    return x**2


### List containing some numbers which are required to be squared

l1=[1,2,3,4,5]

In [64]:
map(func,l1)

In [65]:
list(map(func,l1))

[1, 4, 9, 16, 25]

### Example 2: map() using lambda function

In [72]:
list(map((lambda x:x**2),l1))

[1, 4, 9, 16, 25]

### Example 3: Add numbers index wise from two lists

In [68]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [73]:
list(map((lambda x,y:x+y),l1,l2))

[7, 9, 11, 13, 15]

### Example 4: Using map() convert lowercase string to upper case

In [74]:
s="hello world"

In [77]:
list(map(lambda x:x.upper(),s))

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

## Python: Reduce function

* **reduce()** function is defined in **functools** module.

* reduce function is used to reduce the output to one element

* **syntax: reduce(func,iter)**

* Number of arguments inside a reduce function cannot be more than 2

In [80]:
from functools import reduce

### Example 1:  Find sum of all the elements of a list using reduce()

In [95]:
l=[1,2,6,3,4,4,5]

In [96]:
reduce(lambda x,y:x+y, l)

25

### Example 2: Find the max element in the list

In [97]:
reduce(lambda x,y : x if x>y else y ,l)

6

### Example 3: Number of arguments inside a reduce function cannot be more than 2

In [106]:
l=[1,2,3,4,5,7,8,9]

reduce(lambda x,y,z:x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

### Example 4: reduce() can operate even if list has only one element

In [104]:
l=[1]

In [105]:
reduce(lambda x,y:x+y, l)

1

## Python : Filter function

* filters out results from an iterable

* **syntax: filter(func,iter)**

### Example 1: filter out even numbers

In [107]:
l=[1,2,42,3,5,3,54,65,34,75,4,89]

In [108]:
list(filter(lambda x:x%2==0,l))

[2, 42, 54, 34, 4]

### Example 2: filter out negative numbers

In [109]:
l=[1,2,4,-3,5,3,-56,-87,-3]

In [110]:
list(filter(lambda x:x<0,l))

[-3, -56, -87, -3]