## Python Basics: 005

====================================

**Author: Abhishek Dey**

====================================

## Contents:

* while loop

* while / else condition 

* comprehension

### Python: while loop

In [ ]:
a=1

while a<=10:
    print(a)
    a+=1

### Example: Sum of the number till some point (n) having user input:

In [4]:
n=int(input("Enter your limit :"))
      
i=0

sum=0
      
while i<=n:

    sum=sum+i
   
    i=i+1

    

print("Sum = ",sum)

Enter your limit :5
Sum =  15

### Example: Factorial of a number : 5! = 5x4x3x2x1 = 120

In [18]:
num=int(input("Enter your number :"))

fact=1

while num>0:
    
    fact=fact * num
    
    num = num -1
    
    
print("Factorial of {} is : {}".format(n,fact))

Enter your number :5
Factorial of 5 is : 120

### Example : Fibonacci Series : 0,1,1,2,3,5,8,13,21 ..

In [31]:
num=int(input("Enter number of elements for fibonacci series :"))

a, b = 0, 1

counter=0

f=[a,b]

while counter < (num-2):
    
    c = a+b
    
    a=b
    b=c
    
    counter+=1
    
    f.append(c)

print("Fibonacci series of {} elements is : {}".format(num,f))

Enter number of elements for fibonacci series :10
Fibonacci series of 10 elements is : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Example: Reverse a string using while loop

In [37]:
forward_string=input("Enter forward string : ")

reversed_string=""

length=len(forward_string)

while length>0:

    reversed_string = reversed_string + forward_string[length-1]
    length=length-1

print("Reveresed string is : ", reversed_string)

Enter forward string : hello world
Reveresed string is :  dlrow olleh

### Example: Table of a number using while loop

In [43]:
i=int(input("Enter number :"))

print("\nTable of {} is as follows :\n".format(str(i)))

j=1

while j<=10:

    print("{} x {} = {}".format(i,j,i*j))
    
    j=j+1

Enter number :5

Table of 5 is as follows :

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Python : While / else condition

In [45]:
n=5
i=0

while i<5:

    print(i)
    i=i+1
    
else:
    
    print("Else condition executed")

0
1
2
3
4
Else condition executed

### While / else condition with break

In [46]:
n=5
i=0

while i<5:

    print(i)
    
    if i==3:
        break
        
    i=i+1
    
else:
    
    print("Else condition executed")

0
1
2
3

### Python Comprehension: short form of loop

### List comprehension

### Format:


**[ (expected_output)  (for loop)  (if condition inside loop)]**

### Example: Display square of elements in a list using comprehension

In [49]:
l=[1,4,6,8,10]

### Using for loop

In [50]:
l1=[]

for i in l:

    l1.append(i**2)

print(l1)

[1, 16, 36, 64, 100]

### Using comprehension

In [51]:
[i**2 for i in l]

[1, 16, 36, 64, 100]

### Example: Display even numbers in a list

In [52]:
l=[1,4,6,8,10]

### Using for loop

In [53]:
l1=[]

for i in l:
    
    if i%2==0:
        
        l1.append(i)
        
print(l1)

[4, 6, 8, 10]

### Using comprehension

In [57]:
[i for i in l if i%2==0]

[4, 6, 8, 10]

### Example: Convert list of string to upper case

In [58]:
l=["hello","world","how","are","you"]

### Using for loop

In [59]:
l1=[]

for i in l:
    
    l1.append(i.upper())
    
print(l1)

['HELLO', 'WORLD', 'HOW', 'ARE', 'YOU']

### Using comprehension

In [60]:
[i.upper() for i in l]

['HELLO', 'WORLD', 'HOW', 'ARE', 'YOU']

### Tuple Comprehension

In [62]:
t=(1,2,4,6)

### Find the square of the elements in tuple t

In [63]:
(i**2 for i in t)

In [64]:
list(i**2 for i in t)

[1, 4, 16, 36]

### Dictionary comprehension

In [65]:
d={"hello":1, "world":2, "how":3, "are":4, "you":5}

### Find the square of the key values

In [71]:
[i**2 for i in d.values()]

[1, 4, 9, 16, 25]

In [72]:
{k:v**2 for k,v in d.items()}

{'hello': 1, 'world': 4, 'how': 9, 'are': 16, 'you': 25}