## Python Basics: 004

================================

**Author: Abhishek Dey**

================================

## Contents:

* for / else condition

* break statement

* continue statement

* range

### Python: for / else condition:

**Note:** **else condition**  is executed only when **for condition** completes it's iteration for the entire cycle

In [59]:
l1=["Hello", "world", "how", "are", "you"]

for i in l1:
    
    print(i)
    
else:
    
    print("for loop is executed completely and jumped to else condition")

Hello
world
how
are
you
for loop is executed completely and jumped to else condition

### Python : break statement

**Note:** **break statement** gives a break to the loop condition and jumps out of the loop

In [60]:
l1=["Hello", "world", "how", "are", "you"]

for i in l1:
    
    
    if (i=="how"):
        break
    
    print(i)
    
else:
    
    print("for loop is executed completely and jumped to else condition")

Hello
world

**Note that since the for loop condition is not executed completely due to break statement, the else condition is not executed**

### Python: continue statement

In [62]:
l1=["Hello", "world", "how", "are", "you"]

for i in l1:
    
    
    if (i=="how"):
        
        continue
    
    print(i)

else:
    
    print("for loop is executed completely and jumped to else condition")

Hello
world
are
you
for loop is executed completely and jumped to else condition

**Note that since the for loop condition is not broken due to break statement, the else condition is  executed**

### Python: range

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [64]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [65]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [66]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

### Example: Generate even numbers below 20 using range

In [68]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

### Example: Generate odd numbers below 20 using range

In [69]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### Example: Generate even numbers between 30 and 15 using range

In [71]:
for i in range(30,15,-2):
    print(i)

30
28
26
24
22
20
18
16